<!DOCTYPE html>
<html dir="rtl" lang="fa">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کشاورزی</title>
    <meta name="author" content="tgh ">
    <link href="dist/images/favicon/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="apple-touch-icon" sizes="180x180" href="dist/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="dist/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="dist/images/favicon/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="dist/images/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#d3aa69">
    <link rel="stylesheet" href="dist/styles/common.min.css">
    <link rel="stylesheet" href="styles/common.css">
  </head>
  <body>
    <div class="login-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="login-modal__icon-wrapper"><span class="icon-user login-modal__icon"></span></div>
          </div>
          <div class="modal-body">
            <div class="login-modal__body">
              <div class="login-modal__form">
                <form>
                  <input class="user" type="text" value="Username">
                  <input class="pass" type="password" value="Password">
                </form>
                <p><a href="#">رمز عبور خود را فراموش کرده اید؟</a></p>
              </div>
              <input type="submit" value="Login">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--******** end of #main ********//-->
    <script src="dist/scripts/common.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
  <!-- body-->
</html>