.login-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.login-modal__icon-wrapper
					span.icon-user.login-modal__icon
			.modal-body
				.login-modal__body
					
					.login-modal__form
						form
							input.user(type='text' value='Username')
							input.pass(type='password' value='Password')
						p
							a(href='#') رمز عبور خود را فراموش کرده اید؟
					input(type='submit' value='Login')