
<div class="col-12 col-lg-4 col-xl-3 d-none d-lg-block content-page-user">
  <div class="content-page-user-header">
    <div class="content-page-user-header-img">
      <input id="img-edit" type="file" hidden=""/>
      <label class="content-page-user-header-img-edit" for="img-edit">
        <!-- <i class="fa fa-user"></i>--><img src="images/img-user.jpg" alt="pic"/>
      </label>
    </div>
    <div class="content-page-user-header-bottom">
      <div class="content-page-user-header-name"><span>علیرضا حاجی غدیری</span></div>
      <div class="content-page-user-header-link"><a href="profile-password.html"><i class="icon-padlock-unlock"></i>تغییر رمز عبور</a><a href="#"><i class="icon-logout"></i>خروج از حساب</a></div>
    </div>
  </div>
  <div class="content-page-user-menu">
    <div class="list-group"><a class="list-group-item list-group-item-action active" href="profile.html">ویرایش پروفایل شخصی</a><a class="list-group-item list-group-item-action" href="profile-address.html">دفترچه آدرس های من</a><a class="list-group-item list-group-item-action" href="profile-order.html">همه سفارش های من</a></div>
  </div>
</div>