
<section class="product">
  <div class="container">
    <div class="row">                 
      <div class="col-sm-6 col-md-4">
        <div class="product__wrapper"><a class="product__link" href="product-archive.html"><img class="product__img Product__first" src="dist/images/product/fertilizer.svg" alt=""/><img class="product__img product__second" src="dist/images/product/color-fertilizer.svg" alt=""/></a><a class="product__link" href="product-archive.html">
            <h2 class="product__title">کود</h2>
            <p class="product__content">کود ترکیبی است غنی از مواد مغذی ضروری برای رشد گیاهان که در انواع مختلف تولید می شود. کود علاوه بر رشد گیاهان می تواند به بهبود وضعیت خاک کمک کرده و خاک را برای برداشت محصول بیشتر تقویت کند.</p></a></div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="product__wrapper"><a class="product__link" href="product-archive.html"><img class="product__img Product__first" src="dist/images/product/seeds.svg" alt=""/><img class="product__img product__second" src="dist/images/product/color-seeds.svg" alt=""/></a><a class="product__link" href="product-archive.html">
            <h2 class="product__title">بذر</h2>
            <p class="product__content">بذر مهمترین و اساسیترین بخش گیاه است که در بازسازی،حفظ و انتقال مواد ژنتیکی گیاه و همچنین مکانیزمهای پراکنش،تکثیر و بقای گیاه در شرایط بسیار سخت نقش اساسی دارد.</p></a></div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="product__wrapper"><a class="product__link" href="product-archive.html"><img class="product__img Product__first" src="dist/images/product/shovel-and-rake.svg" alt=""/><img class="product__img product__second" src="dist/images/product/color-shovel-and-rake.svg" alt=""/></a><a class="product__link" href="product-archive.html">
            <h2 class="product__title">ادوات</h2>
            <p class="product__content">ابزارهای کشاورزی و باغبانی امروزه به یکی از مهم ترین بخش از تولیدات صنعت ابزار را در اقصی نقاط جهان به خود اختصاص داده است. کشاورزی و باغداری چه در وسعت بزرگ و چه در وسعت کوچک نیازمند داشتن ابزار خوب و کاربردی برای سهولت کار و پیشبرد کار است.</p></a></div>
      </div>
    </div>
  </div>
</section>