
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel1">&#x62D;&#x633;&#x627;&#x628; &#x6A9;&#x627;&#x631;&#x628;&#x631;&#x6CC; &#x645;&#x646;</h6>
        <button class="close text-left" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="content-page-user-header">
          <div class="content-page-user-header-img">
            <input id="img-edit1" type="file" hidden=""/>
            <label class="content-page-user-header-img-edit" for="img-edit1"><img src="images/img-user.jpg" alt="pic"/></label>
          </div>
          <div class="content-page-user-header-bottom">
            <div class="content-page-user-header-name"><span>علیرضا حاجی قدیری</span></div>
            <div class="content-page-user-header-link"><a href="profile-password.html"><i class="icon-padlock-unlock"></i>تغییر رمز عبور</a><a href="#"><i class="icon-logout"></i>خروج از حساب</a></div>
          </div>
        </div>
        <div class="content-page-user-menu">
          <div class="list-group"><a class="list-group-item list-group-item-action" href="profile.html">ویرایش پروفایل شخصی</a><a class="list-group-item list-group-item-action active" href="profile-address.html">دفترچه آدرس های من</a><a class="list-group-item list-group-item-action" href="profile-order.html">همه سفارش های من</a></div>
        </div>
      </div>
    </div>
  </div>
</div>