
.card
    .card-header
        h5.mb-0
            button.btn.acc-btn.collapsed(data-toggle='collapse', data-target='.group-collapse-range', aria-expanded='false')
                | رنج قیمت
                span.icon-angle-down
    .group-collapse-range.collapse(data-parent='#main-accordion')
        .card-body.body-in.body-srch
            .col-12.p-0.slider-range-box
                div
                    input.demo_3.text-hide(type='text', name='demo_3', value='', tabindex='-1', readonly='')
