.rnav.d-lg-none
  .burger
    span
  nav
    div
      .top-nav-xs
        .img-logo-hamburger
          a(href='index.html')
            img(src='images/farhan-s.png', alt=' ', title=' ')
      ul.main-xs
        li.dnl-xs
          a(href='index.html') فرش فرهان
      .accordion.accordion-menu.indicator-plus-before.round-indicator
        .card-header
          a.card-title(href='index.html ') خانه
        #acordion.card.m-b-0
          #accordion
            #headingOne.card-header
              button.card-titlek.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                | محصولات
            #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
              ul.card-body.body-in.inner-ul
                li
                  #headingOne1.card-header
                    button.card-titlek.collapsed(data-toggle='collapse', data-target='#collapseOne1', aria-expanded='false', aria-controls='collapseOne1')
                      | فرش ۱۲۰۰ شانه
                  #collapseOne1.collapse(aria-labelledby='headingOne1', data-parent='#headingOne')
                    ul.inner-ul
                      li
                        a(href='archive-product.html ') طرح برجسته
                      li
                        a(href='archive-product.html ') طرح غیربرجسته
                      
                li
                  #headingOne2.card-header
                    button.card-titlek.collapsed(data-toggle='collapse', data-target='#collapseOne2', aria-expanded='false', aria-controls='collapseOne2')
                      | فرش ۷۰۰ شانه
                  #collapseOne2.collapse(aria-labelledby='headingOne2', data-parent='#headingOne')
                    ul.inner-ul
                      li
                        a(href='archive-product.html ') طرح برجسته
                      li
                        a(href='archive-product.html ') طرح غیر برجسته
        .card-header
          a.nav-link(href='decoration.html ') تست دکور
        .card-header
          a.nav-link(href='archive-article.html ') مقالات
        .card-header
          a.nav-link(href='archive-news.html') اخبار
        .card-header
          a.nav-link(href='archive-video.html') گالری
        .card-header
          a.nav-link(href='about-us.html ') درباره ما
        .card-header
          a.nav-link(href='contact-us.html ') اتباط باما
  .overlay
