footer#my-animation
  .container
    .growing-seed
    .row
      include _footer-contact
      include _footer-easyaccess
      include _signs-socials
  section.inc-info
    .container
      .row
        .col-12.rights
          .py-1
            p کلیه حقوق این وب سایت متعلق به سایت کشاورزی می باشد.
            h6
              | طراحی و برنامه نویسی : 
              a(href='https://www.itsaco.ir/', target='_blank', rel='noopener') فناوری اطلاعات آیتیسا
  button#scroll-up scroll-up
            span.icon-angle-circle-up