extends partials/_layout
block headStyle
    link(rel='stylesheet', href='dist/styles/archiveProduct.min.css')
    link(rel='stylesheet', href='styles/archive-Product.css')
block header
    include partials/header/_header
    include partials/_pallet
block content
    include partials/_breadcrumb
    section.archiveproduct
        .container
            .row
                h1.titles
                    | آرشیو محصولات
                .col-12
                    .d-lg-none.d-block.fillter-sm
                        button.mt-4.fillter-sm__button(data-toggle="modal" data-target="#archive-advanced-search")
                            span
                                | جستجوی پیشرفته
                                // span.icon-search
                    #archive-advanced-search.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
                        include partials/archive-product/_filter-box-modal
                    div.row
                        .filter-box.col-lg-3.d-none.d-lg-flex.mb-5 
                            .filter-box__wrapper
                                include partials/archive-product/_filter-box
                        .archive-product.col-lg-9
                            .col-md-4.col-6.archive-product__items
                                include partials/_box-product
                            .col-md-4.col-6.archive-product__items
                                include partials/_box-product
                            .col-md-4.col-6.archive-product__items
                                include partials/_box-product
                            .col-md-4.col-6.archive-product__items
                                include partials/_box-product
                            .col-md-4.col-6.archive-product__items
                                include partials/_box-product
                            .col-md-4.col-6.archive-product__items
                                include partials/_box-product
                    include partials/_pagination             
        //footer
block footer
    include partials/footer/_footer        
block scripts
    script(src='dist/scripts/ion.rangeSlider.min.js')