extends partials/_layout

block headStyle
block header
    include partials/header/_header
    include partials/_pallet
block content
    include partials/_breadcrumb
    section.video
        .container
            .row
                h1.titles
                    | ویدئو
                .col-12.col-sm-6.col-md-6.col-lg-4
                    .video-page.card
                        .video-page-overlay
                            // image size 395*339
                            .video-image-container
                                img.card-img-top(title='', src='images/video/video-1.jpg', alt='Card image cap')
                            .camera-icon
                                span.icon-play-circle
                        .card-body
                            p.card-text
                                | ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید
                            a(href='detail-video.html')
                .col-12.col-sm-6.col-md-6.col-lg-4
                    .video-page.card
                        .video-page-overlay
                            // image size 395*339
                            .video-image-container
                                img.card-img-top(title='', src='images/video/video-1.jpg', alt='Card image cap')
                            .camera-icon
                                span.icon-play-circle
                        .card-body
                            p.card-text
                                | ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید
                            a(href='detail-video.html')
                .col-12.col-sm-6.col-md-6.col-lg-4
                    .video-page.card
                        .video-page-overlay
                            // image size 395*339
                            .video-image-container
                                img.card-img-top(title='', src='images/video/video-1.jpg', alt='Card image cap')
                            .camera-icon
                                span.icon-play-circle
                        .card-body
                            p.card-text
                                | ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید
                            a(href='detail-video.html')
                .col-12.col-sm-6.col-md-6.col-lg-4
                    .video-page.card
                        .video-page-overlay
                            // image size 395*339
                            .video-image-container
                                img.card-img-top(title='', src='images/video/video-1.jpg', alt='Card image cap')
                            .camera-icon
                                span.icon-play-circle
                        .card-body
                            p.card-text
                                | ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید ویدئوهای کسری تایر را تماشا کنید
                            a(href='detail-video.html')
                include partials/_pagination                            

block footer
    include partials/footer/_footer
block scripts


  
