.archiveproduct {
    margin-top: 1.5rem;
    margin-bottom: 13rem;
}

.fillter-sm {
    padding-#{$right}: 0;
    margin-#{$right}: 0.5%;
    @media (max-width: 575.98px) {
        margin-#{$right}: 3%;
    }
    &__button {
        background: #f3f3f3;
        color: #000;
        font-size: 1.3rem;
        padding: 10px;
        border: none;
        cursor: pointer;
        @include border-radius(2px);
        span {
            @include flexrow-center;
            span {
                font-size: 1.2rem;
                margin-right: 10px;
            }
        }
    }
}

.filter-box {
    padding: 0;
    // margin-top: 30px;
    justify-content: center;
    background-color: #f5f5f5;
    @include border-radius();
    &__wrapper {
        width: 100%;
        padding: 1rem 2rem;
    }
}

.filter-search {
    width: 100%;
    &__form {
        position: relative;
    }
    &__label {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    &__field {
        margin: 1.5rem 0 0 0;
        input {
            background: #ffffff;
            height: 37px;
            font-size: 1.2rem;
            width: 100%;
            color: #4b4b4b;
            border: none;
        }
    }
    &__submit {
        background: transparent;
        border: none;
        width: 34px;
        #{$left}: 0;
        #{$right}: auto;
        position: absolute;
        top: 0;
        @include flexrow-center;
        align-items: center;
        height: 100%;
        cursor: pointer;
        span {
            color: $color-base;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

.filter-accordion {
    .color {
        margin: 1.5rem 0 2rem;
    }
    &__item {
        margin-top: 1.5rem;
    }
    &__header {
        font-size: 1.4rem;
        border-bottom: 1px solid #dcdcdc;
    }
    &__button {
        background-color: transparent;
        border: none;
        color: #333;
        width: 100%;
        cursor: pointer;
        padding: 1.5rem 0 1.5rem;
        @include d-flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icon {
        font-size: 1.3rem;
        color: #bbb;
    }
    &__body-item {
        @include d-flex;
        align-items: center;
        margin-top: 1.0rem;
        .checkbox {
            position: relative;
            &-label {
                font-size: 1.3rem;
                color: #444;
                margin-bottom: 0;
                cursor: pointer;
                margin-#{$right}: 5px;
            }
            input,
            svg {
                width: 19px;
                height: 19px;
                display: inline-block;
            }
            input {
                -webkit-appearance: none;
                -moz-appearance: none;
                position: relative;
                outline: none;
                background: #fff;
                border: none;
                margin: 0;
                padding: 0;
                cursor: pointer;
                border-radius: 4px;
                transition: box-shadow .3s;
                box-shadow: inset 0 0 0 1px #d0d0d0;
                &:hover {
                    box-shadow: inset 0 0 0 2px #d0d0d0;
                }
                &:checked {
                    box-shadow: inset 0 0 0 1px #0b273e;
                }
            }
            svg {
                pointer-events: none;
                fill: none;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: #fff;
                position: absolute;
                top: 0;
                right: 0;
                width: 19px;
                height: 19px;
                transform: scale(var(--scale, 1)) translateZ(0);
            }
            &.bounce {
                stroke: #fff;
                input {
                    &:checked {
                        box-shadow: inset 0 0 0 11px $color-base;
                        &+svg {
                            animation: bounce .4s linear forwards .2s;
                        }
                    }
                }
                svg {
                    --scale: 0;
                }
            }
        }
        @keyframes bounce {
            50% {
                transform: scale(1.2);
            }
            75% {
                transform: scale(.9);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    .more-button {
        font-size: 1.3rem;
        color: rgb(165, 165, 165);
    }
}

.filter-switch {
    $toggle-width: 40px;
    $toggle-height: 20px;
    $toggle-gutter: 2px;
    $toggle-radius: 50%;
    $toggle-control-speed: .15s;
    $toggle-control-ease: ease-in;
    // These are our computed variables
    // change at your own risk.
    $toggle-radius: $toggle-height / 2;
    $toggle-control-size: $toggle-height - ($toggle-gutter * 2);
    .toggle-control {
        display: block;
        position: relative;
        padding-right: 60px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 1.4rem;
        color: #444;
        user-select: none;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        input:checked~.control {
            background-color: $color-base;
            &:after {
                left: $toggle-width - $toggle-control-size - $toggle-gutter;
            }
        }
        .control {
            position: absolute;
            top: 0;
            right: 0;
            height: $toggle-height;
            width: $toggle-width;
            border-radius: $toggle-radius;
            background-color: darkgray;
            transition: background-color $toggle-control-speed $toggle-control-ease;
            &:after {
                content: "";
                position: absolute;
                left: $toggle-gutter;
                top: $toggle-gutter;
                width: $toggle-control-size;
                height: $toggle-control-size;
                border-radius: $toggle-radius;
                background: white;
                transition: left $toggle-control-speed $toggle-control-ease;
            }
        }
    }
}

.archive-product {
    @include d-flex;
    flex-wrap: wrap;
    @media (max-width: 991.98px) {
        padding-top: 3%;
    }
    &__items {
        @include d-flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        .product-grid8 {
            @media (min-width: 1200px) {
                padding: 0 17px;
            }
            .social {
                bottom: 6px;
                right: -11%;
                @media (max-width: 1199.98px) {
                    right: -10%;
                }
                @media (max-width: 767.98px) {
                    right: -8%;
                }
            }
            &:hover {
                .social li {
                    &:nth-child(3) {
                        transition-delay: .3s
                    }
                }
            }
        }
        @media (max-width:480px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.filter-box-modal {
    width: 100% !important;
    background: #fbfbfb;
    padding: 1em 2rem;
    margin-top: auto !important;
    .close-modal {
        text-align: left;
    }
    &__close {
        background-color: transparent;
        border: none;
        cursor: pointer;
        span {
            color: $color-base;
            font-size: 24px;
        }
    }
}

.color {
    &__field div {
        @media (max-width: 360px) {
            margin-bottom: 10px;
        }
        display: inline-block;
        .color__input[type="checkbox"] {
            display: none;
        }
    }
    &__input[type="checkbox"]+.color__label span {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        @include border-radius(4px);
        border: 2px solid #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    }
    &__input[type="checkbox"]#red+.color__label span {
        background-color: #c91524;
    }
    &__input[type="checkbox"]#blue+.color__label span {
        background-color: #314780;
    }
    &__input[type="checkbox"]#black+.color__label span {
        background-color: #323232;
    }
    &__input[type="checkbox"]:checked+.color__label span {
        box-shadow: 0 0px 5px #676767dd;
        text-align: center;
        padding-top: 4px;
        &:before {
            font-size: 1.3rem;
            content: $icon-check;
            font-family: "icomoon";
            color: #fff;
        }
    }
}

//range slider 
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    background-color: $color-base-hover;
}

.irs--flat .irs-bar {
    background-color: $color-second;
}

// box-product