
<div class="col-4 col-lg-2">
  <div class="accessibility-items">
    <div class="access-item md-search">
      <button class="access-style nav-search" type="button" data-toggle="modal" data-target=".bd-example-modal"><span class="icon-search"></span></button>
      <div class="modal fade bd-example-modal search-focus" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-body search-center">
              <form class="search-form">
                <input class="search-index search-input" type="search" placeholder="کالای خود را اینجا جست‌و‌جو کنید ..."/>
                <button class="search-button" type="submit"><span class="icon-search"></span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--navigation-cart-->
    <div class="access-item"><a class="access-style shopping btn btn-toggle" id="dropdownMenuButton" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-shopping-cart"></i><span class="cartNumber">25</span></a>
      <div class="dropdown-menu box-cart" aria-labelledby="dropdownMenuButton">
        <div class="cart-header"><span class="cart-desc-title">(25 کالا) سبد شما</span><a class="show-cart" href="cart1.html">مشاهده ی سبد خرید<i class="icon-angle-left"></i></a></div>
        <ul class="cart-item-list">
          <li class="cart-item">
            <div class="cart-img"><a href="">
                <!--67*67--><img class="img-fluid" src="dist/images/product/01.jpg" alt="pic"/></a></div>
            <div class="cart-title"><a href="">
                <p class="title">بیل</p></a><span class="price">5,962,000 تومان</span>
              <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
            </div>
            <div class="cart-price"><a class="delete"><i class="icon-trash"></i></a></div>
          </li>
          <li class="cart-item">
            <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/product/02.jpg" alt="pic"/></a></div>
            <div class="cart-title"><a href="">
                <p class="title">بیل</p></a><span class="price">5,962,000 تومان</span>
              <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
            </div>
            <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
          </li>
          <li class="cart-item">
            <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/product/03.jpg" alt="pic"/></a></div>
            <div class="cart-title"><a href="">
                <p class="title">شنکش</p></a><span class="price">5,962,000 تومان</span>
              <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
            </div>
            <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
          </li>
          <li class="cart-item">
            <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/product/04.jpg" alt="pic"/></a></div>
            <div class="cart-title"><a href="">
                <p class="title">کلنگ</p></a><span class="price">5,962,000 تومان</span>
              <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
            </div>
            <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
          </li>
          <li class="cart-item">
            <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/product/01.jpg" alt="pic"/></a></div>
            <div class="cart-title"><a href="">
                <p class="title">سم پاش</p></a><span class="price">5,962,000 تومان</span>
              <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
            </div>
            <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
          </li>
        </ul>
        <div class="cart-footer">
          <div class="style-btn"><a class="btn checkout" href="cart1.html">تسویه حساب</a></div>
          <div class="subtotal-price">
            <p>مبلغ قابل پرداخت</p><span class="subtotal-price-number">25,378,000</span>
            <p>تومان</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>