
<div class="rnav">
  <div class="burger"><span></span>
    <p>منو</p>
  </div>
  <nav>
    <div>
      <div class="top-nav-xs">
        <div class="img-logo-hamburger"><a href="index.html"><img src="dist/images/content/logo.png" alt=" "/></a></div>
      </div>
      <ul class="main-xs">
        <li class="dnl-xs"><a href="index.html">کشاورزی</a></li>
      </ul>
      <div class="accordion accordion-menu indicator-plus-before round-indicator">
        <div class="card-header"><a class="card-title" href="index.html">خانه</a></div>
        <div class="card m-b-0">
          <div id="accordion">
            <div class="card-header" id="headingOne">
              <button class="card-titlek collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">محصولات</button>
            </div>
            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
              <ul class="card-body body-in inner-ul">
                <li>
                  <div class="card-header" id="headingOne1">
                    <button class="card-titlek collapsed" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">بذر</button>
                  </div>
                  <div class="collapse" id="collapseOne1" aria-labelledby="headingOne1" data-parent="#headingOne">
                    <ul class="inner-ul">
                      <li><a href="archive-product.html">چمن</a></li>
                      <li><a href="archive-product.html">گوچه</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="card-header" id="headingOne2">
                    <button class="card-titlek collapsed" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">کود</button>
                  </div>
                  <div class="collapse" id="collapseOne2" aria-labelledby="headingOne2" data-parent="#headingOne">
                    <ul class="inner-ul">
                      <li><a href="archive-product.html">ماکرو</a></li>
                      <li><a href="archive-product.html">میکرو</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="archive-product.html">ادوات</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-header"><a class="nav-link" href="archive-article.html">مقالات</a></div>
        <div class="card-header"><a class="nav-link" href="archive-news.html">اخبار</a></div>
        <div class="card-header"><a class="nav-link" href="archive-video.html">ویدئو</a></div>
        <div class="card-header"><a class="nav-link" href="about-us.html">درباره ما</a></div>
        <div class="card-header"><a class="nav-link" href="contact-us.html">ارتباط با ما</a></div>
        <div class="card-header"><a class="nav-link" href="suggestions.html">انتقادات و پیشنهادات</a></div>
        <div class="card-header"><a class="nav-link" href="rules.html">قوانین</a></div>
      </div>
    </div>
  </nav>
  <div class="overlay"></div>
</div>