//navigation-cart
.access-item
				a#dropdownMenuButton.access-style.shopping.btn.btn-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					i.icon-shopping-cart
					span.cartNumber 25
				.dropdown-menu.box-cart(aria-labelledby="dropdownMenuButton")
					.cart-header
						span.cart-desc-title (25 کالا) سبد شما
						a.show-cart(href="cart1.html") مشاهده ی سبد خرید
							i.icon-angle-left
					ul.cart-item-list
						li.cart-item
							.cart-img
								a(href="")
									//67*67
									img.img-fluid(src="dist/images/product/01.jpg" alt="pic")
							.cart-title
								a(href="")
									p.title بیل
								span.price 5,962,000 تومان
								div.discount
									span.discount__tag 10%
									span.discount__real-price 4,000,000
								span.number 2 عدد
							.cart-price
								a.delete
									i.icon-trash
						li.cart-item
							.cart-img
								a(href="")
									img.img-fluid(src="dist/images/product/02.jpg" alt="pic")
							.cart-title
								a(href="")
									p.title بیل
								span.price 5,962,000 تومان
								div.discount
									span.discount__tag 10%
									span.discount__real-price 4,000,000
								span.number 2 عدد
							.cart-cell.cart-price.text-left
								a.delete
									i.icon-trash
						li.cart-item
							.cart-img
								a(href="")
									img.img-fluid(src="dist/images/product/03.jpg" alt="pic")
							.cart-title
								a(href="")
									p.title شنکش
								span.price 5,962,000 تومان
								div.discount
									span.discount__tag 10%
									span.discount__real-price 4,000,000
								span.number 2 عدد
							.cart-cell.cart-price.text-left
								a.delete
									i.icon-trash
						li.cart-item
							.cart-img
								a(href="")
									img.img-fluid(src="dist/images/product/04.jpg" alt="pic")
							.cart-title
								a(href="")
									p.title کلنگ
								span.price 5,962,000 تومان
								div.discount
									span.discount__tag 10%
									span.discount__real-price 4,000,000
								span.number 2 عدد
							.cart-cell.cart-price.text-left
								a.delete
									i.icon-trash
						li.cart-item
							.cart-img
								a(href="")
									img.img-fluid(src="dist/images/product/01.jpg" alt="pic")
							.cart-title
								a(href="")
									p.title سم پاش
								span.price 5,962,000 تومان
								div.discount
									span.discount__tag 10%
									span.discount__real-price 4,000,000
								span.number 2 عدد
							.cart-cell.cart-price.text-left
								a.delete
									i.icon-trash
					.cart-footer
						.style-btn
							a.btn.checkout(href='cart1.html') تسویه حساب
						.subtotal-price
							p مبلغ قابل پرداخت
							span.subtotal-price-number 25,378,000
							p تومان