
<nav class="navbar navbar-expand-lg d-none d-lg-block p-0">
  <ul class="navbar-nav">
    <li class="nav-item active"><a class="nav-link" href="index.html">خانه</a></li>
    <li class="nav-item dropdown" id="product-dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">محصولات</a>
      <div class="row dropdown-menu product-dropdown">
        <div class="col-4 dproduct"><img class="dproduct__img img-fluid" src="dist/images/menu/fertilizer.png" alt=""/><a class="dproduct__archlink" href="archive-product.html">
            <h2 class="dproduct__title"><span class="dproduct__icon icon-leaf"></span>کود</h2></a>
          <ul class="dproduct__list">
            <li class="dproduct__item"><a class="dproduct__link" href="archive-product.html">ماکرو</a></li>
            <li class="dproduct__item"><a class="dproduct__link" href="archive-product.html">میکرو</a></li>
            <li class="dproduct__item"><a class="dproduct__link" href="archive-product.html">اصلاحات</a></li>
          </ul>
        </div>
        <div class="col-4 dproduct"><img class="dproduct__img img-fluid" src="dist/images/menu/seed.png" alt=""/><a class="dproduct__archlink" href="archive-product.html"> 
            <h2 class="dproduct__title"><span class="dproduct__icon icon-leaf"></span>بذر</h2></a>
          <ul class="dproduct__list">
            <li class="dproduct__item"><a class="dproduct__link" href="archive-product.html">سبز</a></li>
            <li class="dproduct__item"><a class="dproduct__link" href="archive-product.html">چمن</a></li>
          </ul>
        </div>
        <div class="col-4 dproduct"><img class="dproduct__img img-fluid" src="dist/images/menu/tools.png" alt=""/><a class="dproduct__archlink" href="archive-product.html">
            <h2 class="dproduct__title"><span class="dproduct__icon icon-leaf"></span>ادوات</h2></a>
          <ul class="dproduct__list">
            <li class="dproduct__item"><a class="dproduct__link" href="archive-product.html">مکانیکی</a></li>
            <li class="dproduct__item"><a class="dproduct__link" href="archive-product.html">برقی</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="archive-article.html">مقالات</a></li>
    <li class="nav-item"><a class="nav-link" href="archive-video.html">ویدئو</a></li>
    <li class="nav-item"><a class="nav-link" href="faq.html">سوالات متداول</a></li>
    <li class="nav-item"><a class="nav-link" href="about-us.html">درباره ما</a></li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">تماس با ما</a>
      <ul class="dropdown-menu">
        <li class="dropdown-submenu"><a class="dropdown-item" href="contact-us.html">ارتباط با ما</a></li>
        <li class="dropdown-submenu"><a class="dropdown-item" href="suggestions.html">اتقادات و پیشنهادات</a></li>
      </ul>
    </li>
  </ul>
</nav>