nav.navbar.navbar-expand-lg.d-none.d-lg-block.p-0
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='index.html') خانه
    li.nav-item.dropdown#product-dropdown
      a.nav-link.dropdown-toggle#navbarDropdownMenuLink(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') محصولات
      .row.dropdown-menu.product-dropdown
        .col-4.dproduct
          img.dproduct__img.img-fluid(src="dist/images/menu/fertilizer.png", alt="")
          a.dproduct__archlink(href='archive-product.html')
            h2.dproduct__title
              span.dproduct__icon.icon-leaf
              |کود
          ul.dproduct__list
                li.dproduct__item
                  a.dproduct__link(href='archive-product.html') ماکرو
                li.dproduct__item
                  a.dproduct__link(href='archive-product.html') میکرو
                li.dproduct__item
                  a.dproduct__link(href='archive-product.html') اصلاحات
        .col-4.dproduct
          img.dproduct__img.img-fluid(src="dist/images/menu/seed.png", alt="")
          a.dproduct__archlink(href='archive-product.html')  
            h2.dproduct__title
              span.dproduct__icon.icon-leaf
              | بذر
          ul.dproduct__list
                li.dproduct__item
                  a.dproduct__link(href='archive-product.html') سبز
                li.dproduct__item
                  a.dproduct__link(href='archive-product.html') چمن
                
        .col-4.dproduct
          img.dproduct__img.img-fluid(src="dist/images/menu/tools.png", alt="")
          a.dproduct__archlink(href='archive-product.html')
            h2.dproduct__title
              span.dproduct__icon.icon-leaf
              | ادوات
          ul.dproduct__list
                li.dproduct__item
                  a.dproduct__link(href='archive-product.html') مکانیکی
                li.dproduct__item
                  a.dproduct__link(href='archive-product.html') برقی
    li.nav-item
      a.nav-link(href='archive-article.html') مقالات
    li.nav-item
      a.nav-link(href='archive-video.html') ویدئو
    li.nav-item
      a.nav-link(href='faq.html') سوالات متداول
    li.nav-item
      a.nav-link(href='about-us.html') درباره ما
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') تماس با ما
      ul.dropdown-menu
        li.dropdown-submenu
              a.dropdown-item(href='contact-us.html') ارتباط با ما
        li.dropdown-submenu
              a.dropdown-item(href='suggestions.html') اتقادات و پیشنهادات
        