.option-gallery
    ul.option-gallery__list
        li
            button.option-galler__item.option-galler__item--wishes
                span.icon-heart-outlined.click-like
                span.option-galler__tooltip.option-galler__tooltip--left افزودن به علاقه مندی

        //- li
        //-     button.option-galler__item.option-galler__item--social
        //-         span.icon-share
