section.similar
    .container-fluid
        .row
            .col-12
                .titers
                    h2.text-titer محصولات مشابه
            .owl-carousel.owl-theme.owl-similar
                .item
                    include ../_box-product
                .item
                    include ../_box-product    
                .item
                   include ../_box-product
                .item
                   include ../_box-product
                .item
                   include ../_box-product