//- .login-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
//-   .modal-dialog.modal-dialog-centered(role='document')
//-     .modal-content       
//-       .modal-body
//-         button.close(type='button', data-dismiss='modal', aria-label='Close')
//-             span(aria-hidden='true') &times;
//-         .login
//-             .container
//-                 .col-md-12
//-                     //- h3 ورود به فروشگاه
//-                     .reg-logo
//-                         img(src="dist/images/content/logo.png" alt="")
//-                     form.login-form.form( method='post')
//-                         .form-group
//-                             input.form-control(type='text', name='username' placeholder="نام کاربری")
//-                         .form-group
//-                             input.form-control(type='password', name='password' placeholder="رمز عبور")
//-                         .form-group.refresh
//-                             input.form-control(type='text', name='password' placeholder="کد امنیتی")
//-                             a(href="#")
//-                                 span.icon-refresh
//-                             .captcha
//-                                 img(src="https://www.modernfarsh.com/captcha/default?uauouxDP" alt="کد امنیتی")
//-                         .form-group
//-                             label(for='remember-me')
//-                                 input(name='remember-me',id='remember-me', type='checkbox')
//-                                 span مرا به خاطر بسپار
//-                         .login-btn
//-                             button(type='submit', name='submit', value='ورود') ورود به سایت کشاورزی
                        
//-       .modal-footer
//-         #register-link
//-             p قبلا عضو شده‌اید؟
//-             a(href='#' data-toggle="modal" data-target=".register-modal") عضویت
//-         .forgot
//-             a(href='#' data-toggle="modal" data-target=".forgot-password-modal") رمز عبور خود را فراموش کرده اید؟
//-   .modal-dialog.modal-dialog-centered.forgot-password-modal(role='document')
//-     .modal-content       
//-       .modal-body
//-         button.close(type='button', data-dismiss='modal', aria-label='Close')
//-             span(aria-hidden='true') &times;
//-         .login
//-             .container
//-                 .row
//-                     .col-md-12.passwordRecovery
//-                             .reg-logo
//-                                 img(src="dist/images/content/logo.png" alt="")
//-                             form(method='post')
//-                                 h5 شماره موبایل خود را وارد کنید .
//-                                     br 
//-                                     |زمانی که شما از طریق تلفن همراه کد تائیدیه رمز عبور را دریافت نمودید قادر خواهید بود تا رمز عبور خود را تغییر دهید.
//-                                 .row
//-                                     .col-12
//-                                         .row
//-                                             .col-12
//-                                                 .form-group
//-                                                     input.form-control#PhoneNumber(type='text', placeholder='شماره موبایل خود را وارد کنید', name='PhoneNumber')
                                            
//-                                     .col-12.d-flex.justify-content-center
//-                                         .forgot-password
//-                                             a(href='#') ارسال کد امنیتی
//-   .modal-dialog.modal-dialog-centered.verification-modal(role='document')
//-     .modal-content       
//-       .modal-body
//-         button.close(type='button', data-dismiss='modal', aria-label='Close')
//-             span(aria-hidden='true') &times;
//-         .login
//-             .container
//-                 .row
//-                     .col-md-12.passwordRecovery
//-                             .reg-logo
//-                                 img(src="dist/images/content/logo.png" alt="")
//-                             form(method='post')  
//-                                 .simple-countdown    
//-                                     span.sec 56
//-                                     span.min 10
//-                                 .form-group
//-                                     input.form-control#PhoneNumber1(type='text', placeholder='شماره موبایل خود را وارد کنید', name='PhoneNumber1')

//-                                 .d-flex.justify-content-center.my-5
//-                                     .verification-btn.ml-2
//-                                         a(href='#') تایید کد
//-                                     button.resend-verification-btn
//-                                         | ارسال مجدد
//-   .modal-dialog.modal-dialog-centered.new-password-modal(role='document')
//-     .modal-content       
//-       .modal-body
//-         button.close(type='button', data-dismiss='modal', aria-label='Close')
//-             span(aria-hidden='true') &times;
//-         .login
//-             .container
//-                 .row
//-                     .col-md-12
//-                         .reg-logo
//-                             img(src="dist/images/content/logo.png" alt="")
//-                         form.login-form.form( method='post')
//-                             .form-group
//-                                 input.form-control(type='text', name='password' placeholder="رمز عبور جدید")
//-                             .form-group
//-                                 input.form-control(type='password', name='password' placeholder="تکرار رمز عبور جدید")
                            
//-                             .login-btn
//-                                 button(type='submit', name='submit', value='ورود') تایید                      



