// menu
.burger {
    width: 50px;
    height: 58px;
    border-radius: 4px;
    z-index: 53;
    border: 1px solid $color-text;
    p {
        color: $color-base;
        animation: inherit;
        right: 55px;
        font-size: 1.3rem;
        top: 31%;
        position: absolute;
    }
}

.burger-fix {
    position: fixed!important;
    z-index: 1001!important;
    top: 5px!important;
    right: 10px!important;
    padding: 8px!important;
}

.clicked {
    top: 0px!important;
    border: none;
    right: 253px;
    position: absolute;
}

.burger span {
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 50%;
    left: -18%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.clicked span,
.clicked span::before,
.clicked span::after {
    width: 20px!important;
    height: 3px;
}

.clicked span:before,
.clicked span:after {
    background-color: $color-base!important;
}

.burger span,
.burger span::before,
.burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $color-text;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.burger span::before,
.burger span::after {
    position: absolute;
    content: "";
}

.burger span::before {
    top: -9px;
}

.burger span::after {
    top: 9px;
}

.burger.clicked {
    p {
        visibility: hidden;
    }
    span {
        background-color: transparent;
    }
}

.burger.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before,
.burger.clicked span:after {
    background-color: #ffffff;
}

.burger:hover {
    cursor: pointer;
}


/*  NAV
========================================== */

.dropdown:not(.cartHover):hover>.dropdown-menu {
    display: block;
}

.rnav {
    margin-right: 0px;
    nav {
        background-color: #fff;
        position: fixed;
        z-index: 52;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 300px;
        width: 100%;
        /*padding:0 20px 70px 20px;*/
        overflow-y: auto;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
}

.rnav nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.rnav nav.show ul.main-xs li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.rnav nav.show ul.main-xs li:nth-child(1) {
    transition-delay: 0.15s;
    width: 100%;
}

.rnav nav.show ul.main-xs li:nth-child(2) {
    transition-delay: 0.3s;
}

.rnav nav.show ul.main-xs li:nth-child(3) {
    transition-delay: 0.45s;
}

.rnav nav.show ul.main-xs li:nth-child(4) {
    transition-delay: 0.6s;
}

.rnav nav.show ul.main-xs li:nth-child(5) {
    transition-delay: 0.75s;
}

.rnav nav.show ul.main-xs li:nth-child(6) {
    transition-delay: 0.9s;
}

.rnav nav.show ul.main-xs li:nth-child(7) {
    transition-delay: 1.05s;
}

.rnav nav.show ul.main-xs li:nth-child(8) {
    transition-delay: 1.2s;
}

.rnav nav.show ul.main-xs li:nth-child(9) {
    transition-delay: 1.35s;
}

.rnav nav.show .about,
.rnav nav.show .social,
.rnav nav.show ul.sub {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition-delay: .85s;
}

.rnav nav .main-xs {
    list-style-type: none;
    width: 100%;
    padding: 0;
    background: #f7f7f7 !important;
    margin-bottom: 0;
}

.rnav nav ul.main-xs li {
    border-bottom: 1px solid #dcdada;
    /*margin-bottom: 3px;*/
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.rnav nav ul.main-xs li:last-of-type {
    margin-bottom: 0px;
}

.rnav nav ul.main-xs li a {
    color: #000;
    font-family: iranyekan;
    text-decoration: none;
    display: block;
    font-weight: 600;
    padding: 11px 0;
    @include transition();
    border-bottom: none !important;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
}

.rnav nav ul.main-xs li a span {
    color: #ce0a0a;
    padding-left: 5px;
    font-size: 16px;
}

.ul-icon-xs li {
    margin: 0 18px;
}

.ul-icon-xs {
    background: #b7b49c;
}

.rnav nav ul.main-xs li a:hover {
    color: #b7ac7f;
}

.rnav nav .about {
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rnav nav .about p {
    color: #ffffff;
    font-family: "Spectral", serif;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    line-height: 170%;
}

nav .social {
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rnav nav .social:after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: #b7ac7f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.rnav nav .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.rnav nav .social a:last-of-type {
    margin-right: 0px;
}

.rnav nav .social a:hover svg path,
.rnav nav .social a:hover svg circle {
    fill: #b7ac7f;
}

.rnav nav .social a svg {
    width: 100%;
    height: 100%;
}

.rnav nav .social a svg path,
nav .social a svg circle {
    fill: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.rnav nav ul.sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rnav nav ul.sub li {
    margin-bottom: 10px;
}

.rnav nav ul.sub li:last-of-type {
    margin-bottom: 0px;
}

.rnav nav ul.sub li a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.rnav nav ul.sub li a:hover {
    color: #b7ac7f;
}


/*  OVERLAY
========================================== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 51;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #868686;
    opacity: 0;
    visibility: hidden;
}

.overlay.show {
    opacity: 0.5;
    visibility: visible;
}

.top-nav-xs {
    background: $color-offwhite;
    padding: 5px 5px 7px;
    /*position: fixed;*/
    width: 100%;
    z-index: 9;
    top: 0;
}

.info-xs .circle {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin: auto;
    border: 2px solid #f7f7f7;
    background: #dee2d5;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.info-xs .circle span {
    font-size: 3em;
    color: #868686;
}

.name-xs {
    margin-top: 10px;
    display: inline-block;
    color: #e7e7e7;
    line-height: 2;
    font-size: .9em;
}

.info-xs .circle img {
    width: 100%;
    height: 100%;
}

.logout-burger {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    direction: ltr;
    color: #efefef;
}

.logout-burger .exit {
    font-size: 12px;
}

.ul-icon-xs {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    left: 0;
    background: #f3efd2;
    padding: 8px;
}

.ul-icon-xs li {
    margin: 0 8px;
}

.ul-icon-xs li a span {
    font-size: 18px;
}

.ul-icon-xs li a {
    padding: 0.65rem 0.5rem !important;
    border-bottom: none !important;
    color: rgb(130, 130, 130);
}

.ul-icon-xs li a img {
    width: 16px;
    filter: brightness(55%);
}

.dnl-xs {
    display: flex;
    justify-content: center;
    background: $color-base;
    color: #fff;
}

.dnl-xs a,
.dnl-xs a span {
    font-weight: 600;
    color: #fff !important;
}


/*بنر*/

.img-logo-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-hamburger img {
    width: auto;
}

.logo-xs {
    width: 75px;
}

.cart-ico i {
    font-size: 2em;
    color: rgb(109, 109, 109);
}

.cart-ico {
    position: relative;
    top: 3px;
}


/*آکوردیون*/


/* accordion styles */


/* accordion styles */

.accordion .card-header {
    cursor: pointer;
}

.accordion.heading-right .card-title {
    position: absolute;
    right: 50px;
}

.accordion.indicator-plus-before.round-indicator .card-titlek:before {
    font-family: 'icomoon';
    content: $arrow-down;
    float: right;
    padding-left: 7px;
}

.accordion.indicator-plus-before.round-indicator .card-titlek.collapsed:before {
    font-family: 'icomoon';
    content: $arrow-left;
    color: #444;
    padding-left: 7px;
}

.accordion.indicator-chevron .card-header:after {
    float: right;
}

.accordion.background-none [class^="card"] {
    background: transparent;
}

.accordion.border-0 .card {
    border: 0;
}

.acc-in .card-header,
.acc-in .card {
    background: #fff;
    border: none;
}

.body-in {
    padding: 5px 20px;
}

.body-in .card-body a {
    display: block;
    line-height: 2;
    color: rgb(102, 102, 102);
}

.body-in .card-body button {
    background-color: transparent;
    display: block;
    line-height: 2;
    color: rgb(102, 102, 102);
}

.body-in a {
    line-height: 2;
    color: rgb(102, 102, 102);
    display: block;
    padding: 0.75rem 1.25rem;
    font-size: 1.4rem;
}

.accordion.accordion-menu .card {
    border: none;
}

.accordion {
    .collapse.show {
        .inner-ul {
            border-bottom: none;
        }
    }
}

.accordion-menu>.card-header {
    padding: 6px 20px 6px 0;
    @include flexrow-center;
    justify-content: flex-start;
    // border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.accordion-menu .card-header a {
    padding: 0.75rem 1.25rem;
    width: 100%;
    display: block;
    margin-bottom: 0;
    color: #444;
    font-size: 1.6rem;
    &:hover {
        color: $color-base;
    }
}

.accordion-menu .card-header {
    background: white;
}

.inner-ul {
    @include flexcolumn-center;
    justify-content: start;
    border-bottom: 1px solid #e2e2e2;
    li {
        width: 100%;
        a {
            &:hover {
                background-color: #f8f9fa;
                color: $color-base;
            }
        }
        &:last-child div {
            border-bottom: none;
        }
    }
}

.accordion-menu .card-header button {
    background-color: transparent;
    border: none;
    padding: 0.75rem 1.25rem;
    width: 100%;
    display: flex;
    color: #444;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 0;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    &::before {
        font-size: 1.2rem;
    }
    &:hover {
        color: $color-base;
    }
}

.part-menu-xs {
    width: 50%;
    font-size: 13px;
    background: #ffefc8;
    border-left: 1px solid #e2e2e2;
    text-align: center;
}

.link-menu-xs:before {
    display: none;
}

.link-menu-xs a {
    color: #272727;
}

.ul-icon-xs {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    border-top: 1px solid #eaeaea;
}