@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?i4hyo8');
    src: url('../fonts/icomoon.eot?i4hyo8#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?i4hyo8') format('truetype'), url('../fonts/icomoon.woff?i4hyo8') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart-outlined:before {
    content: "\e93b";
}

.icon-leaf:before {
    content: "\e939";
}

.icon-settings:before {
    content: "\e900";
}

.icon-shopping-cart:before {
    content: "\e901";
}

.icon-angle-circle-down:before {
    content: "\e902";
}

.icon-angle-circle-left:before {
    content: "\e903";
}

.icon-angle-circle-right:before {
    content: "\e904";
}

.icon-angle-circle-up:before {
    content: "\e905";
}

.icon-angle-down:before {
    content: "\e935";
}

.icon-angle-left:before {
    content: "\e936";
}

.icon-angle-right:before {
    content: "\e937";
}

.icon-angle-up:before {
    content: "\e938";
}

.icon-bell:before {
    content: "\e906";
}

.icon-calendar:before {
    content: "\e907";
}

.icon-camera-photo:before {
    content: "\e908";
}

.icon-cancel:before {
    content: "\e909";
}

.icon-cancel-circle:before {
    content: "\e90a";
}

.icon-chart:before {
    content: "\e90b";
}

.icon-check:before {
    content: "\e90c";
}

.icon-compare:before {
    content: "\e90d";
}

.icon-dislike:before {
    content: "\e90e";
}

.icon-download:before {
    content: "\e90f";
}

.icon-edit:before {
    content: "\e910";
}

.icon-envelope:before {
    content: "\e911";
}

.icon-eye:before {
    content: "\e912";
}

.icon-fax:before {
    content: "\e913";
}

.icon-headphones:before {
    content: "\e914";
}

.icon-heart:before {
    content: "\e915";
}

.icon-home:before {
    content: "\e916";
}

.icon-like:before {
    content: "\e917";
}

.icon-lock:before {
    content: "\e918";
}

.icon-login:before {
    content: "\e919";
}

.icon-logout:before {
    content: "\e91a";
}

.icon-map:before {
    content: "\e934";
}

.icon-message-square:before {
    content: "\e91b";
}

.icon-mobile:before {
    content: "\e91c";
}

.icon-more:before {
    content: "\e91d";
}

.icon-phone-ring:before {
    content: "\e91e";
}

.icon-play-circle:before {
    content: "\e91f";
}

.icon-plus:before {
    content: "\e93a";
}

.icon-plus-circle:before {
    content: "\e920";
}

.icon-printer:before {
    content: "\e921";
}

.icon-reload:before {
    content: "\e922";
}

.icon-search:before {
    content: "\e923";
}

.icon-share:before {
    content: "\e924";
}

.icon-trash:before {
    content: "\e925";
}

.icon-unlock:before {
    content: "\e926";
}

.icon-user:before {
    content: "\e927";
}

.icon-user-circle:before {
    content: "\e928";
}

.icon-facebook:before {
    content: "\e929";
}

.icon-google:before {
    content: "\e92a";
}

.icon-google-plus:before {
    content: "\e92b";
}

.icon-instagram:before {
    content: "\e92c";
}

.icon-linkedin:before {
    content: "\e92d";
}

.icon-pinterest:before {
    content: "\e92e";
}

.icon-skype:before {
    content: "\e92f";
}

.icon-telegram:before {
    content: "\e930";
}

.icon-twitter:before {
    content: "\e931";
}

.icon-whatsapp:before {
    content: "\e932";
}

.icon-youtube:before {
    content: "\e933";
}