@charset "UTF-8";
:root {
  --data-color: #29563f;
  --color2: #fbbf45;
  --color3: #fbe172;
  --color4: #588b44;
  --color5: #fef3de;
}

/*p{
  float:$left;
  padding-left:20px;
}*/
.owl-product .item {
  padding: 20px 20px 5px 20px;
}

.product-grid8 {
  border-radius: 7px;
  transition: all 300ms ease-in-out;
  position: relative;
  box-shadow: 0 1px 3px rgba(116, 116, 116, 0.28);
  z-index: 1;
  border: 1px solid transparent;
  background-color: white;
}

.product-grid8:hover {
  box-shadow: 0 1px 5px rgba(116, 116, 116, 0.3);
}

.product-grid8:hover .social li {
  margin: 0 0 10px;
  opacity: 1;
  transform: translateY(0);
}

.product-grid8:hover .social li:nth-child(1) {
  transition-delay: .1s;
}

.product-grid8:hover .social li:nth-child(2) {
  transition-delay: .2s;
}

.product-grid8:hover .product-content .title h4 {
  color: var(--color2);
}

.product-grid8 .product-image8 {
  position: relative;
  transition: all .3s ease 0s;
}

.product-grid8 .product-image8 img {
  border-radius: 7px;
}

.product-grid8 .product-discount-label {
  display: block;
  padding: 7px;
  color: #fff;
  background-color: var(--data-color);
  position: absolute;
  top: 10px;
  right: 3px;
  border-radius: 50%;
}

.product-grid8 .product-content {
  padding: 10px;
  transition: all 300ms ease-in-out;
}

.product-grid8 .product-content .price {
  color: #8a0a0a;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 5px;
  transition: all .3s;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.product-grid8 .product-content .price span {
  color: lightgrey;
  font-size: 1.3rem;
  text-decoration: line-through;
  margin-left: 7px;
  margin-right: 2px;
  display: inline-block;
}

.product-grid8 .product-content .title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid8 .product-content .title h4 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* autoprefixer: off */
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
  margin: 0;
  color: #333;
  font-weight: 400;
  transition: all .3s ease 0s;
}

.product-grid8 .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 13px;
  transform: translate(-50%, 0);
  z-index: 1;
  display: block;
}

@media (max-width: 767.98px) {
  .product-grid8 .social {
    right: -14px;
  }
}

.product-grid8 .social li {
  opacity: 0;
  transform: translateY(3px);
  transition: all .5s ease 0s;
}

.product-grid8 .social li a {
  color: var(--data-color);
  background-color: #e4ece0;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

.product-grid8 .social li a:hover {
  color: var(--color2);
}

@media (max-width: 767.98px) {
  .product-grid8 .social li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

@media (max-width: 767.98px) {
  .product-grid8 .social li {
    opacity: 1;
    transform: translateY(0);
    margin: 0 0 13px;
  }
}

.archiveproduct {
  margin-top: 1.5rem;
  margin-bottom: 13rem;
}

.fillter-sm {
  padding-right: 0;
  margin-right: 0.5%;
}

@media (max-width: 575.98px) {
  .fillter-sm {
    margin-right: 3%;
  }
}

.fillter-sm__button {
  background: #f3f3f3;
  color: #000;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.fillter-sm__button span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fillter-sm__button span span {
  font-size: 1.2rem;
  margin-right: 10px;
}

.filter-box {
  padding: 0;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 7px;
}

.filter-box__wrapper {
  width: 100%;
  padding: 1rem 2rem;
}

.filter-search {
  width: 100%;
}

.filter-search__form {
  position: relative;
}

.filter-search__label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.filter-search__field {
  margin: 1.5rem 0 0 0;
}

.filter-search__field input {
  background: #ffffff;
  height: 37px;
  font-size: 1.2rem;
  width: 100%;
  color: #4b4b4b;
  border: none;
}

.filter-search__submit {
  background: transparent;
  border: none;
  width: 34px;
  left: 0;
  right: auto;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.filter-search__submit span {
  color: var(--data-color);
  font-weight: 700;
  font-size: 1.5rem;
}

.filter-accordion .color {
  margin: 1.5rem 0 2rem;
}

.filter-accordion__item {
  margin-top: 1.5rem;
}

.filter-accordion__header {
  font-size: 1.4rem;
  border-bottom: 1px solid #dcdcdc;
}

.filter-accordion__button {
  background-color: transparent;
  border: none;
  color: #333;
  width: 100%;
  cursor: pointer;
  padding: 1.5rem 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-accordion__icon {
  font-size: 1.3rem;
  color: #bbb;
}

.filter-accordion__body-item {
  display: flex;
  align-items: center;
  margin-top: 1.0rem;
}

.filter-accordion__body-item .checkbox {
  position: relative;
}

.filter-accordion__body-item .checkbox-label {
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 0;
  cursor: pointer;
  margin-right: 5px;
}

.filter-accordion__body-item .checkbox input,
.filter-accordion__body-item .checkbox svg {
  width: 19px;
  height: 19px;
  display: inline-block;
}

.filter-accordion__body-item .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: #fff;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow .3s;
  box-shadow: inset 0 0 0 1px #d0d0d0;
}

.filter-accordion__body-item .checkbox input:hover {
  box-shadow: inset 0 0 0 2px #d0d0d0;
}

.filter-accordion__body-item .checkbox input:checked {
  box-shadow: inset 0 0 0 1px #0b273e;
}

.filter-accordion__body-item .checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 19px;
  height: 19px;
  transform: scale(var(--scale, 1)) translateZ(0);
}

.filter-accordion__body-item .checkbox.bounce {
  stroke: #fff;
}

.filter-accordion__body-item .checkbox.bounce input:checked {
  box-shadow: inset 0 0 0 11px var(--data-color);
}

.filter-accordion__body-item .checkbox.bounce input:checked + svg {
  animation: bounce .4s linear forwards .2s;
}

.filter-accordion__body-item .checkbox.bounce svg {
  --scale: 0;
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.filter-accordion .more-button {
  font-size: 1.3rem;
  color: #a5a5a5;
}

.filter-switch .toggle-control {
  display: block;
  position: relative;
  padding-right: 60px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #444;
  user-select: none;
}

.filter-switch .toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-switch .toggle-control input:checked ~ .control {
  background-color: var(--data-color);
}

.filter-switch .toggle-control input:checked ~ .control:after {
  left: 22px;
}

.filter-switch .toggle-control .control {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}

.filter-switch .toggle-control .control:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: white;
  transition: left 0.15s ease-in;
}

.archive-product {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991.98px) {
  .archive-product {
    padding-top: 3%;
  }
}

.archive-product__items {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .archive-product__items .product-grid8 {
    padding: 0 17px;
  }
}

.archive-product__items .product-grid8 .social {
  bottom: 6px;
  right: -11%;
}

@media (max-width: 1199.98px) {
  .archive-product__items .product-grid8 .social {
    right: -10%;
  }
}

@media (max-width: 767.98px) {
  .archive-product__items .product-grid8 .social {
    right: -8%;
  }
}

.archive-product__items .product-grid8:hover .social li:nth-child(3) {
  transition-delay: .3s;
}

@media (max-width: 480px) {
  .archive-product__items {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.filter-box-modal {
  width: 100% !important;
  background: #fbfbfb;
  padding: 1em 2rem;
  margin-top: auto !important;
}

.filter-box-modal .close-modal {
  text-align: left;
}

.filter-box-modal__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-box-modal__close span {
  color: var(--data-color);
  font-size: 24px;
}

.color__field div {
  display: inline-block;
}

@media (max-width: 360px) {
  .color__field div {
    margin-bottom: 10px;
  }
}

.color__field div .color__input[type="checkbox"] {
  display: none;
}

.color__input[type="checkbox"] + .color__label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color__input[type="checkbox"]#red + .color__label span {
  background-color: #c91524;
}

.color__input[type="checkbox"]#blue + .color__label span {
  background-color: #314780;
}

.color__input[type="checkbox"]#black + .color__label span {
  background-color: #323232;
}

.color__input[type="checkbox"]:checked + .color__label span {
  box-shadow: 0 0px 5px #676767dd;
  text-align: center;
  padding-top: 4px;
}

.color__input[type="checkbox"]:checked + .color__label span:before {
  font-size: 1.3rem;
  content: "î¤Œ";
  font-family: "icomoon";
  color: #fff;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  background-color: var(--color4);
}

.irs--flat .irs-bar {
  background-color: var(--color2);
}
